@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<a class="btn btn-primary" asp-controller="VaccineManagement" asp-action="DisplayVaccines" role="button">Vaccine Management</a>
	<a class="btn btn-primary" asp-controller="" asp-action="" role="button">Patient Managment</a>
</div>